/* ШРИФТЫ */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* ОБЩИЕ */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  color: #000000;
  background: #f2f2f2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.flex {
  display: flex;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.button-small {
  display: inline-block;
  width: 160px;
}

.button-middle {
  display: inline-block;
  width: 232px;
}

.button-large {
  display: inline-block;
  width: 376px;
}

.main {
  flex: 1;
}

/* ГЛАВНАЯ СТРАНИЦА (INDEX) */
/* Шапка (header) */
.header-container {
  display: flex;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
}

.nav {
  display: flex;
  width: 100%;
}

.site-menu {
  display: flex;
  margin: 0;
  margin-left: 30px;
  padding: 0;
  list-style: none;
  width: 465px;
}

.site-menu-item {
  padding: 20px 16px;
}

.site-menu-link {
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
}

.user-menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
}

.user-menu-link {
  text-decoration: none;
}

.fav-number {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

/* Секция hero */
.hero {
  background-color: #233847;
  background-image: url("../images/divider.svg"), url("../images/hero.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  padding-top: 50px;
  padding-bottom: 83px;
  min-height: 352px;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

/* Секция advantages */
.advantages {
  text-align: center;
}

.advantages-summary {
  padding-top: 69px;
  padding-bottom: 90px;
  width: 651px;
  margin: 0 auto;
}

.advantages-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.advantages-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dark-background {
  background-color: #82b3d3;
}

.medium-background {
  background: rgba(131, 179, 211, 0.2);
}

.light-background {
  background-color: rgba(131, 179, 211, 0.12);
}

.alternate-text-color {
  color: #ffffff;
}

.advantage-text {
  width: 230px;
  padding: 113px 85px;
}

.advantage-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}

.advantage-description {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.advantage-image {
  display: block;
}

/* Секция services */
.services {
  text-align: center;
}

.services-summary {
  padding-top: 69px;
  padding-bottom: 90px;
  width: 505px;
  margin: 0 auto;
}

.services-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.services-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.service-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 30px;
}

.service-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;;
  margin: 0;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-list-item {
  padding: 81px 85px;
  width: 230px;
}

/* Секция search */
.search {
  text-align: center;
  padding-top: 86px;
  padding-bottom: 86px;
  width: 592px;
  margin: 0 auto;
}

.search-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

/* Секция subscribe */
.subscribe {
  background-color: #8babb8;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-summary {
  width: 475px;
  margin: 0 auto;
  text-align: center;
}

.subscribe-text {
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
}

.subscribe-description {
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  display: flex;
  width: 684px;
  margin: 0 auto;
}

.subscribe-form-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #000000;
  background-color: #f2f2f2;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 462px;
}

.form-button {
  background-color: #5d7483;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Подвал (footer) */
.footer-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;

}

.socials-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  display: inline-block;
}

.copyright {
  display: inline-block;
}
